html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


html h1, html h2, html h3, html h4, html h5, html h6, html a {
	font-family: 'Raleway',  sans-serif;
}

html p {
	font-family: 'Cinzel', serif;
}

a {
	text-decoration: none;
	color: black;
}

a:active, a:visited {
	color: black;
}

.wrapper {
	margin: 0 auto;
	width: 90%;
}

header {
	position: relative;
}

#logo {
	float: left;
	width: 50%;
	padding: 1rem 6rem 1rem 6rem;
	text-align: center;
}

#menu {
	float: right;
	width: 50%;
	padding: 1rem 6rem 1rem 6rem;
	transition: all 0.3s;
	text-decoration: none;
	color: black;
	text-align: center;
}

@media screen and (max-width: 400px) {
	nav {
		max-width: 100%;
	}

	#logo {
		width: 100%;
	}

	#menu {
		width: 100%;
	}
}

#menu:hover {
	background-color: #A67E89;
	color: white;
	cursor: pointer;
}

nav {
	min-width: 100%;
	overflow: hidden;
  	background-color: #FFF5F8;
  	box-shadow: 3px 3px 30px 1px rgba(166,126,137,0.25);
  	padding: 0;
  	position: fixed;
  	top: 0;
  	left: 0;
  	transition: all 0.6s;
}

nav ul {
	clear: both;
	padding: 0;
	margin: 0;
}

nav ul li {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
}

nav ul li:hover {
	background-color: #A67E89;
	color: white;
}

nav ul li:hover > a {
	color: white;
}

nav ul li a {
	text-decoration: none;
	color: #000;
	padding: 1rem;
	display: block;
}

.nav-slide {
  top: -100px; 
}

.menu-list-closed {
	display: none;
}

.menu-list-open {
	display: block;
}

@media screen and (min-width: 737px)  {
	.menu-list-closed {
		display: flex;
	}

	.menu-list-open {
		display: flex;
	}

	#menu {
		display: none;
	}

	nav ul {
		clear: none;
	}
}

.banner {
	clear: both;
	height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #F8F8FF;
	overflow: hidden;
}

.banner aside {
	width: 100%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	background-image: url('../../Images/ian-dooley-298769-unsplash-double-resize.jpg');
  	height: 100vh;
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;
}

.banner aside h1 {
	font-size: 2.5em;
}

.banner-button {
	background-color:#FFF5F8;
  	border: 1px solid #FFF5F8;
  	box-shadow: 3px 3px 30px 1px rgba(166,126,137,0.75);
  	border-radius: 4px;
  	color: black;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	transition-duration: 0.4s;
}

.banner-button:hover {
	background-color: #A67E89;
	color: white;
	border: 1px solid #A67E89;
}

.banner-button a, .banner-button a:visited, .banner-button a:focus, .banner-button a:active {
	text-decoration: none;
	color: black;
	display: block;
	padding: 16px 32px;
}

.banner-button:hover > a {
	color: white;
}

/*SPOTLIGHT SECTION*/

.spotlight {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	border-bottom: 1px solid #F8F8FF;
}

.spotlight .content {
	max-width: 100%;
	margin: 3rem 1rem 3rem 1rem;
	padding: 3rem 2rem 3rem 2rem;
	text-align: center;
	border-radius: 3px;
	background-image: linear-gradient(to right, rgba(166,126,137,0.8), rgba(255,245,248,1));
	box-shadow: 3px 3px 30px 1px rgba(166,126,137,0.75);
	overflow: hidden;
}

.spotlight .content h2 {
	padding: 1rem;
}

.spotlight .content p {
	padding: 1rem;
}

#spotlight1 {
	background-image: url(../../Images/spencer-dahl-796543-unsplash-double-resize.jpg);
	height: 100vh;
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;
}

.whole-gallery {
	background-image: url(../../Images/annie-spratt-466729-unsplash-double-resize.jpg);
	height: auto;
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;
}

.gallery-inner {
	text-align: center;
	margin: 0 2rem 2rem 2rem;
	padding: 3rem 1rem 0.5rem 1rem;
}

.gallery {
	display: grid;
	padding: 1rem;
	grid-gap: 1rem;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (min-width: 980px) and (max-width: 1280px) {
	.gallery {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}
}

@media screen and (min-width: 1280px) {
	.gallery {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
}

article {
	padding: 0.5rem;
	max-width: 100%;
	place-self: center;
	text-align: center;
	border-radius: 3px;
	background-image: linear-gradient(to right, rgba(166,126,137,0.8), rgba(255,245,248,1));
	box-shadow: 3px 3px 30px 1px rgba(166,126,137,0.75);
	overflow: hidden;
}

img {
	width: 100%;
}

/*CONTACT FORM*/

.inner-form {
	margin: 1rem 0 1rem 0;
}

.inner-form h2 {
	text-align: center;
}

.fields {
	padding: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	place-items: stretch;
}

.field-half-name {
	grid-column: 1/ span 1;
  	grid-row: 1 / span 1;
  	text-align: center;
  	margin: 0;
  	padding: 0.5rem;
} 

.field-half-email {
	grid-column: 2/ span 1;
  	grid-row: 1 / span 1;
  	text-align: center;
  	margin: 0;
  	padding: 0.5rem;
} 

.field-half-message {
	grid-column: 1/ span 2;
  	grid-row: 2 / span 3;
  	text-align: center;
  	padding: 1rem;
}

.field-half-message textarea {
  	height: 6rem;
  	padding-top: 1rem;
}

input, textarea {
	height: 3rem;
    border-radius: 4px;
    border: solid 1px black;
    padding: 0 0.825rem;
    width: 100%;
}

input[type=submit] {
	background-color: transparent;
	width: 50%;
	transition: 0.3s;
}

.submit {
	text-align: center;
}

input[type=submit]:hover {
	cursor: pointer;
}

footer {
	background-color: #FFF5F8;
	border-top: 1px solid #F8F8FF;
}

.inner-footer {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}

.inner-footer span {
	padding: 1rem;
	display: inline-block;
}

.fab, .fas {
	transition: 0.3s;
	color: #73404E;
}

.fab:hover, .fas:hover {
	color: #A67E89;
}